{% extends './base.html' %}
{% block style %}
  .main {
    width: 100% - 75px;
    margin-top: 100px;
    margin-left: 75px;
  }
​
  .bg_image {
    z-index: -50;
    height: 700px;
    width: 100%;
  }
​
  .recommend_word {
    position: relative;
    top:70%;
    left:10%;
  }
​
  .movielist {
    position: relative;
    margin-bottom: 30px;
  }
  
  h2 {
    color: white;
  }
​
  .container {
    width: 100%;
  }
​
  .carousel-item {
    width: 100%;
  }
​
  .movieTitle {
    font-size: 1.2vw;
    color: white;
  }
​
  .carousel-control-prev {
    position: absolute;
    width: 80px;
  }
​
  .carousel-control-next {
    position: absolute;
    width: 80px;
  }
​
  .col-3 img {
    padding: 0;
    width: 100%;
  }
{% endblock %}
​
{% block body %}
<div id="recommendmovie" class="carousel slide" data-ride="carousel" style="position: relative;">
  <div class="carousel-inner">
    {% for recommend in recommends %}
    {% if forloop.first %}
    <div class="carousel-item active">
      <div class="bg_image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%),url('https://image.tmdb.org/t/p/original{{recommend.backdrop_path}}');
  background-repeat: no-repeat;
  background-size: 100%;
  ">
        <div class="recommend_word container row">
          <h1 style="display:block; color: white; background: rgba(0,0,0,0.5); margin-left: 75px;">SW에서 {{ user.username }}님만을 위해 추천해드려요</h1>
          <a href="{% url 'movies:detail' recommend.pk %}"><button type="button" class="btn btn-light">보러가기</button></a>
        </div>
      </div>
    </div>
    {% else %}
​
    <div class="carousel-item">
      <div class="bg_image" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%),url('https://image.tmdb.org/t/p/original{{recommend.backdrop_path}}');
    background-repeat: no-repeat;
    background-size: 100%;
    ">
        <div class="recommend_word container row">
          <h1 style="display:block; color: white; background: rgba(0,0,0,0.5); margin-left: 75px;">SW에서 {{ user.username }}님만을 위해 추천해드려요</h1><br>
          <a href="{% url 'movies:detail' recommend.pk %}" type="button" class="btn btn-light">보러가기</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#recommendmovie" role="button" data-slide="prev" style="background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.2) 100%); margin-left: 75px;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#recommendmovie" role="button" data-slide="next" style="background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.2) 100%);">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="main">
    <div id="popularmovie" class="carousel slide movielist" data-ride="carousel">
        <h2>인기순</h2>
        <!-- The slideshow -->
        <div class="carousel-inner no-padding">
          <a class="carousel-control-prev no-padding" href="#popularmovie" data-slide="prev"
            style="background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.2) 100%);">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <div class="carousel-item active">
            <div class="row">
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.0.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.0.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.0.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.1.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.1.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.1.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.2.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.2.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.2.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.3.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.3.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.3.title}}</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.4.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.4.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.4.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.5.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.5.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.5.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.6.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.6.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.6.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.7.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.7.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.7.title}}</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="row carousel-item">
            <div class="row">
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.8.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.8.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.8.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.9.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.9.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.9.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.10.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.10.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.10.title}}</h5>
                </a>
              </div>
              <div class="col-3">
                <a href="{% url 'movies:detail' populars.11.pk %}"><img
                    src="https://image.tmdb.org/t/p/w500/{{populars.11.backdrop_path}}" class='my-image' alt=""><br>
                  <h5 class="movieTitle">{{populars.11.title}}</h5>
                </a>
              </div>
            </div>
          </div>
          <a class="carousel-control-next no-padding" href="#popularmovie" data-slide="next"
            style="background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.2) 100%);">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        <!-- Left and right controls -->
      </div>
  <div id="demo" class="carousel slide movielist" data-ride="carousel">
    <h2>평점 높은 영화</h2>
    <!-- The slideshow -->
    <div class="carousel-inner no-padding">
      <a class="carousel-control-prev no-padding" href="#demo" data-slide="prev"
        style="background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.2) 100%);">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3">
            <a href="{% url 'movies:detail' movies.0.pk %}"><img
                src="https://image.tmdb.org/t/p/w500/{{movies.0.backdrop_path}}" class='my-image' alt=""><br>
              <h5 class="movieTitle">{{movies.0.title}}</h5>
            </a>
          </div>
          <div class="col-3">
            <a href="{% url 'movies:detail' movies.1.pk %}"><img
                src="https://image.tmdb.org/t/p/w500/{{movies.1.backdrop_path}}" class='my-image' alt=""><br>
              <h5 class="movieTitle">{{movies.1.title}}</h5>
            </a>
          </div>
          <div class="col-3">
            <a href="{% url 'movies:detail' movies.2.pk %}"><img
                src="https://image.tmdb.org/t/p/w500/{{movies.2.backdrop_path}}" class='my-image' alt=""><br>
              <h5 class="movieTitle">{{movies.2.title}}</h5>
            </a>
          </div>
          <div class="col-3">
            <a href="{% url 'movies:detail' movies.3.pk %}"><img
                src="https://image.tmdb.org/t/p/w500/{{movies.3.backdrop_path}}" class='my-image' alt=""><br>
              <h5 class="movieTitle">{{movies.3.title}}</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item"&g...