{% extends 'movies/base2.html' %}
{% block style %}
<style>
  #bg {
    margin-top: 54px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .table img {
    width: 300px;
    height: 450px;
  }

  .table h1 {
    color: white;
    display: inline;
  }

  .table h3 {
    color: gray;
    display: inline;
  }

  .table p {
    color: white;
  }

  #contentSection i {
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
  }

  #contentSection i:hover {
    color: gray;
  }

  #cast img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  #reviewSection {
    margin: 100px 100px;
    box-shadow: 5px 5px 5px #111111;
    padding: 30px;
  }

  #reviewSection img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
  }

  #reviewSection i {
    width: 50px;
    height: 50px;
    color: #111133;
  }

  #reviewForm label {
    display: none;
  }

  #reviewForm p,
  #reviewForm input {

    display: inline;
  }

  #reviewForm #id_content {
    width: 1000px;
  }

  #reviewForm p {
    color: #111111;
  }

  #review tr {
    border: 20px;
  }

  #wishbt {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
  }
</style>
{% endblock %}

{% block body %}
<div id="bg" style="background-image: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.4640231092436975) 85%, rgba(0,0,0,0.676908263305322) 100%),url('https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}');
  background-repeat: no-repeat;
  background-size: 100%;
  ">
  <div class="container row mx-auto">
    <table class="table">
      <tr>
        <td>
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{ movie.title }} 포스터 이미지">
        </td>
        <td style="width:50px;">

        </td>
        <td id="contentSection">
          <h1>{{ movie.title }}</h1>
          <h3> ({{ movie.release_date }})</h3>{% if is_now %}&nbsp;&nbsp;<button type="button"
            class="btn btn-secondary">상영중</button>{% endif %}
          <p>평점 {{ movie.vote_average }} 상영시간 {{ movie.runtime }}ms</p>
          <br>
          {% if user in movie.like_users.all %}
          <a href="{% url 'movies:like' movie.id %}">
            <i id="like-button" data-id="{{ movie.id }}" class="fas fa-thumbs-up fa-3x animated bounce"
              style="color: red;"></i>
          </a>
          <!-- <i id="like-button" data-id="{{ movie.id }}" class="fas fa-thumbs-up fa-3x animated bounce"
              style="color: red;"></i> -->
          {% else %}
          <a href="{% url 'movies:like' movie.id %}">
            <i id="like-button" data-id="{{ movie.id }}" class="fas fa-thumbs-up fa-3x animated bounce"
              style="color: rgb(255, 255, 255);"></i>
          </a>
          {% endif %}
          <!-- 광고보기 -->
          <!-- trigger modal -->
          <a href="" title="광고 보러가기" data-toggle="modal" data-target="#videoModal"><i
              class="far fa-play-circle fa-3x"></i></a>
          <!-- Modal -->
          <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="width:700px;">
                <div class="modal-header">
                  <h4 class="modal-title" id="videoModalLabel">{{ movie.title }} 예고편</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe id="ytplayer" type="text/html" width="100%" height="360"
                    src="https://www.youtube.com/embed?listType=search&list={{ movie.title }}+예고편"
                    frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 같이볼래요 -->
          {% if is_now or is_up %}
          <!-- 이미 보고싶어하는 영화 -->
          {% if user in movie.wish_users.all %}
          <a href="{% url 'movies:wish' movie.id %}"><i class="fas fa-heart fa-3x" style="color:red;"></i></a>
          {% else %}
          <form action="{% url 'movies:wish' movie.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button id="wishbt" type="submit"><i class="fas fa-heart fa-3x"></i></button>
            <select required class="custom-select " name="state" style="display: inline; width:300px;">
              <option selected value="">지역을 선택 후 ♥를 눌러주세요</option>
              {% for state in states %}
              <option value="{{ state.id }}">{{ state.state }}</option>
              {% endfor %}
            </select>
            <!-- <a href="{% url 'movies:wish' movie.id %}" title="같이 볼래요"><i class="fas fa-heart fa-3x"></i></a> -->
          </form>
          {% endif %}
          {% endif %}
          <br>
          <br>
          {% if movie.tagline %}
          <b>
            <p>"{{ movie.tagline }}"</p>
          </b>
          {% endif %}
          <p>{{ movie.overview }}</p>
          <br>
          <br>
          <div class="row" id="cast">
            {% for people in peoples %}
            <a href="{% url 'movies:people_movies' people.id %}">
              <div class="col-3">
                <img src="https://image.tmdb.org/t/p/w500{{ people.profile_path }}" alt="{{ people.name }}">
                <p style="width:100px; text-align: center;">{{ people.name }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </td>
      </tr>
    </table>



  </div>
</div>
<!-- Review Section -->
<div id="reviewSection" class="bg-light">
  {% if movie.review_set.all %}
  <p>리뷰 {{ movie.review_set.all.count }}개</p>
  {% else %}
  <p>작성된 리뷰가 없습니다. 첫번째 리뷰의 주인공이 되어보세요.</p>
  {% endif %}
  <table class="review">
    <tr>
      <td>
        {% if user.image %}
        <img src="{{ user.image.url }}" alt="{{ user.image.name }}">
        {% else %}
        <i class="fas fa-user-circle fa-2x"></i>
        {% endif %}
      </td>
      <td>
        <form id="reviewForm" action="{% url 'movies:review_create' movie.pk %}" method="POST">
          {% csrf_token %}
          {{ review_form.as_p }}
          <input class="btn btn-dark" type="submit" value="댓글 작성">
        </form>
      </td>
    </tr>
    <hr>
    <!-- for문 -->
    {% for review in movie.review_set.all %}
    <tr>
      <td>
        <a href="{% url 'accounts:detail' review.user_id %}">
          {% if review.user.image %}
          <img src="{{ review.user.image.url }}" alt="{{ review.user.image.name }}">
          {% else %}
          <i class="fas fa-user-circle fa-2x"></i>
          {% endif %}
        </a>
      </td>
      <td>
        <p><b>{{ review.score }}</b> "{{ review.content }}"</p>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}