{% extends 'movies/base2.html' %}
{% block style %}
<style>
  #profileContainer {
    margin: 100px 400px 0px 400px;
    box-shadow: 5px 5px 5px #111111;
    padding: 30px;
  }

  .info>td>img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    border-radius: 50%;
  }

  .likeMovies img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 30px;
  }

  .follower img, 
  .following img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block body %}
<div id="profileContainer" class="bg-light">
  <h4 style="color:gray;" class="my-3">내가 좋아하는 영화</h4>
  <div class="likeMovies row">
    {% for movie in user.like_movies.all %}
    <a href="{% url 'movies:detail' movie.pk %}">
      <div class="col-4">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" alt="{{ movie.title }} 포스터 이미지">
      </div>
    </a>
    {% empty %}
    <p>좋아하는 영화가 없습니다.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}