{% extends 'movies/base2.html' %}
{% block style %}
<style>
  #profileContainer {
    margin: 100px 400px 0px 400px;
    box-shadow: 5px 5px 5px #111111;
    padding: 30px;
  }

  .info>td>img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    border-radius: 50%;
  }

  .likeMovies img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 30px;
  }

  .follower img, 
  .following img {
    
  }
</style>
{% endblock %}

{% block body %}
<div id="profileContainer" class="bg-light">
  <table>
    <tr class="info align-center">
      <td>
        {% if account.image %}
        <img src="{{ account.image.url }}" alt="{{ account.image.name }}">
        {% else %}
        <i class="fas fa-user-circle fa-9x"></i>
        {% endif %}
        &nbsp&nbsp&nbsp
      </td>
      <td>
        <h2 style="display: inline;">{{ account.username }}</h2>&nbsp&nbsp&nbsp
        {% if user != account %}
        {% with account.followers.all as followers %}
        <a href="{% url 'accounts:follow' account.pk %}">
          <button type="button" class="btn btn-secondary">
            {% if user in followers %}
            팔로우 취소
            {% else %}
            팔로우
            {% endif %}
          </button>
        </a>
        {% endwith %}
        {% endif %}
        <br><br>
        <p>리뷰 <b>{{ account.review_set.all.count }}</b>&nbsp&nbsp&nbsp팔로워
          <b>{{ account.followers.all.count }}</b>&nbsp&nbsp&nbsp팔로우<b>{{ account.followings.all.count }}</b></p>
        <p><b>{{ account.first_name }}</b></p>
        <p>{{ account.email }}</p>
      </td>
    </tr>
  </table>
  <h4 style="color:gray;" class="my-3">{{ account.username }}이 좋아하는 영화</h4>
  <div class="likeMovies row">
    {% for movie in account.like_movies.all %}
    <a href="{% url 'movies:detail' movie.pk %}">
      <div class="col-4">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" alt="{{ movie.title }} 포스터 이미지">
      </div>
    </a>
    {% empty %}
    <p>좋아하는 영화가 없습니다.</p>
    {% endfor %}
  </div>
  {% if user == account %}
  <h4 style="color:gray;" class="my-3">팔로워 {{ account.followers.all.count }}</h4>
  <div class="row follower">
    {% for follower in account.followers.all %}
    <a href="{% url 'accounts:detail' follower.pk %}">
      <div class="col-2">
        {% if follower.image %}
        <img src="{{ follower.image.url }}" alt="{{ follower.image.name }}">
        {% else %}
        <i class="fas fa-user-circle fa-9x"></i>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
  <h4 style="color:gray;" class="my-3">팔로우 {{ account.followings.all.count }}</h4>
  <div class="row following">
    {% for following in account.followings.all %}
    <a href="{% url 'accounts:detail' following.pk %}"></a>
    <div class="col-2">
      {% if following.image %}
      <img src="{{ following.image.url }}" alt="{{ following.image.name }}">
      {% else %}
      <i class="fas fa-user-circle fa-9x"></i>
      {% endif %}
    </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}